/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Poppins", sans-serif;
$font-family-heading: "Oswald", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */
$nav-color: #bdbdbd;
$text-color: #454545;
$h-main-color: #001232;
$product-name-color: #353535;
$product-sub-title: #333333;
$h-light-color: #e1e1e1;
$p-light-color: #ececec;
$orange: #ffb52f;
$tag-color: #9b9b9b;
$title-on-pic: #303030;
$footer-text-color: #919191;
$footer-h3-color: #E4E4E4;
$footer-h5-color: #B6B6B6;
$footer-a-bolod-color: #a7a7a7;
$body-bg: #fff;
$selection-bg: #04A4CC;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;